<p>Доброго дня!</p>
<p>Від Вас надійшла заявка реєстрації на сайті ПожСпос.</p>
<p>Для завершення реєстрації перейдіть будь-ласка за посиланням</p>

<p>
    <a href="{{ urlConfirmAddress }}">Підтвердити</a>
</p>

<p>Якщо це не ви рееструвалися, ігноруйте цей лист</p>
