<p>Доброго дня!</p>
<p>Від Вас надійшла заявка на зміну пароля на сайті ПожСпос.</p>
<p>Будь ласка перейдіть за посиланням для скидання паролю</p>

<p>
    <a href="{{ urlConfirmAddress }}">Скинути пароль!</a>
</p>

<p>Якщо це не ви робили заявку, ігноруйте цей лист</p>
