<main>
    Доброго дня!<br />
    Від Вас надійшла заявка реєстрації на сайті ПожСпос.<br />
    Для завершення реєстрації перейдіть будь-ласка за
    <a href="<%= urlConfirmAddress %>">посиланням</a> .
</main>
