<mat-card>
  <mat-card-content>
    <mat-card-title>Даннні про просочення конструкцій</mat-card-title>

    <mat-accordion>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Площа: {{impregnation?.area}}м2
          </mat-panel-title>

          <mat-panel-description *ngIf="impregnation?.seepage_liquid">
            Рідина: {{impregnation?.seepage_liquid}}
          </mat-panel-description>

          <mat-panel-description class="{{impregnation?.timeLeft?.includes('тому')||impregnation?.timeLeft?.includes('дні') ? 'red_Color' : 'normal'}}">
            <span
                  matTooltip={{impregnation?.timeLeft}}>
                            Дата наступної повірки {{impregnation?.next_check?.slice(0, 10)}}
                        </span>
          </mat-panel-description>
        </mat-expansion-panel-header>


        <form [formGroup]="form" class="my-form">

          <mat-form-field appearance="fill">
            <mat-label>Рідина</mat-label>
            <input matInput formControlName="seepage_liquid">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Площа</mat-label>
            <input matInput formControlName="area">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Дата наступної повірки</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="next_check">
            <mat-hint>MM-YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-action-row>
            <button mat-icon-button color="warn" *ngIf="impregnation" (click)="delete(impregnation.id)"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button color="primary" (click)="edit()"><mat-icon>edit</mat-icon></button>
          </mat-action-row>

        </form>


      </mat-expansion-panel>
    </mat-accordion>

  </mat-card-content>
</mat-card>
