<mat-card>
  <mat-card-content>
    <mat-card-title>Даннні про спостереження</mat-card-title>

    <mat-accordion>


      <mat-expansion-panel (opened)="_fildForm()" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Об'єктовий номер: {{observation?.number}}
          </mat-panel-title>
          <mat-panel-description>
            Договір: {{observation?.contract}}
          </mat-panel-description>
          <mat-panel-description *ngIf="observation?.sim_card?.number">
            Сім Карта:  {{observation?.sim_card?.number | telephone }}
          </mat-panel-description>
        </mat-expansion-panel-header>


        <form *ngIf="simCartList" [formGroup]="form" class="my-form">

          <mat-form-field appearance="fill">
            <mat-label>Об'єктовий номер:</mat-label>
            <input matInput [imask]="{mask: '0000'}" formControlName="number">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Договір:</mat-label>
            <input matInput formControlName="contract">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>sim_cardNumber:</mat-label>
<!--            <input matInput formControlName="sim_cardNumber">-->
            <mat-select placeholder="Сім картка" required formControlName="sim_cardNumber">
              <mat-option></mat-option>
              <mat-option [value]="simCart.number" *ngFor="let simCart of simCartList">{{ simCart.number }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-action-row>
            <button mat-icon-button color="warn" *ngIf="observation" (click)="delete(observation.id)"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button color="primary" (click)="save()"><mat-icon>{{!observation ? "save" : "edit"}}</mat-icon></button>

          </mat-action-row>

        </form>


      </mat-expansion-panel>

    </mat-accordion>

  </mat-card-content>
</mat-card>
