<main>
    Доброго дня, <%= locals.username %>!<br />
    Від Вас надійшла  реєстрація на сайті post-life.<br />
    Для завершення реєстрації перейдіть будь-ласка за
    <a href="<%= urlConfirmAddress %><%= id %>">посиланням</a> .
</main>